/* Your application styles go here */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.setting-list {
  height: 40px;
  background-color: #7DE8CA;
  text-align: center;
  border-bottom: 1px solid #000;
}

.selected {
  background-color: #7DE8CA;
}

.preference {
  float: left;
  padding-right: 16px;
}

.city{
  float: left;
}

input.city-input{
  box-sizing: border-box;
  padding-left: 6px;
  margin-top: 2px;
  border-radius: 5px;
}

.swipe.button.button-block,
.button.button-full {
margin: 0;
border: 0;
}

ion-header-bar.swipe h1.title{
  color: #fff;
  font-weight: bold;
}

/*This builds a mobile sized container on full size browser screens*/
@media (min-width: 800px) {
  .view {
    max-width: 356px;
    max-height: 667px;
    border: 1px solid #000;
    margin: 0 auto;
    border-radius: 12px;
  }
  ion-nav-bar.bar {
    max-width: 357px;
    margin: 0 auto;
    padding: 5px, 4px;
  }
  ion-nav-view {
    background-color: #f3f3f3;
  }
}
